<style>
    body {
        color: #333;
        font-family: "LucidaGrande";
        font-size: 11px;
    }
    .divider {
        font-weight: bold;
        font-size: 13px;
        text-align: center;
    }
</style>

<p>
This infernal machine was originally fabricated by
<a href="http://andrewschleifer.name/">Andrew&nbsp;Schleifer</a>
for
<a href="http://www.insect.tk/">Insect Labs</a>.

<p>
&copy; 2010-2020 Various Artists

<p>
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this program except in compliance with the License. You may obtain a copy
of the License at:

<p>
<a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>

<p>
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
